@import "../../../styles/utils/variables";

.root {
  margin-bottom: 30px;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
      font-size: 36px;
      line-height: 51px;
    }
    .location {
      font-size: 18px;
    }
    .taglist {
      display: flex;
    }
  }
  .owner {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    .profile {
        display: flex;
        align-items: center;

        h2 {
            width: min-content;
            font-size: 18px;
            line-height: 26px;
            margin-right: 15px;
        }
        img {
            object-fit: fill;
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
  }
}
