@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.root {
  width: 190px;
  display: flex;
  justify-content: space-between;

  svg {
    height: 30px;
    width: 30px;
  }
  @include display-mobile {
    width: 100px;
    svg {
      height: 15px;
      width: 15px;
    }
  }
}
