@import "../../../styles/utils/variables";


.root {
  width: 100%;
  height: 220px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center/110%
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center/110% url("../../../../public/media/banner.png");

  h1 {
    color: $font-color2;
  }
}
