.container {
  width: 340px;
  height: 340px;
  margin: 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ), no-repeat center url("../../../public/media/banner.png");
  border-radius: 10px;
}
